{% extends "layout.html" %}

{% block title %}Create your own Cheat Sheet{% endblock %}
{% block content %}

    <h2>Create a new Cheat Sheet</h2>
    <div class="">
	    <form id="cheat-sheet" class="form well" method=POST>
        <fieldset>
            <legend>Create all the variables as you want</legend>
            <div class="control-group">
                <label class="control-label" for="name">Cheat Sheet name</label>
                <input id="name" name="name" class="input-xxlarge" type="text" placeholder="Name this sheet">
            </div>
            <div class="control-group">
                <label class="control-label" for="description">Cheat Sheet description</label>
                <textarea id="description" name="description" class="input-xxlarge" placeholder="Description for this sheet"></textarea>
            </div>
            <br>
            <p class="help-block">Add the variables as you want to record and store.</p>
            <div id="variables">
            </div>
            <button id="add" class="btn btn-success" type="submit"><i class="icon-plus icon-white"></i>add</button>
            <div class="form-actions">
                <button class="btn btn-primary btn-large" type="submit">Save changes</button>
                <a class="btn btn-large" type="reset" href="/">Cancel</a>
            </div>
        </fieldset>
	    </form>
	    <a href="/">back</a>
	</div>

{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/cheatSheets.js') }}"></script>
    <script>
        (function(){
            addVariable();
        })();
    </script>
{% endblock %}