{% extends "layout.html" %}

{% block content %}

    <header class="jumbotron subhead">
        <h1>My Own Cheat Sheets</h1>
        <div class="row">
            <div class="span6">
                <p class="lead">Create your own Cheat Sheets with all the information that you need</p>
            </div>
            <div class="span5 offset1" style="margin-top:20px;">
                <a class="btn btn-primary btn-large" href="/new"><b>CREATE MY OWN CHEAT SHEET</b></a>
            </div>
        </div>
    </header>
    <hr>
    <h2>Current cheat sheets</h2>
    {% for sheet in cheat_sheets %}

        <hr>
        <h3><a href="{{ url_for('view_sheet', name=sheet.name ) }}">{{ sheet.name }}</a></h3>
        <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>key</th>
                <th>value</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in sheet.variables.items() %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        <p>{{ sheet.description }}</p>
    {% endfor %}

{% endblock %}