{% extends "layout.html" %}

{% block title %}Login{% endblock %}
{% block description %}Login in the Cheat Sheets{% endblock %}
{% block content %}

    <h2>Login</h2>
    <div class="">
        <form class="form-horizontal well">
            <fieldset>
                <legend>Register to create private cheat sheets</legend>
                <div class="control-group">
                    <label class="control-label" for="username">Username</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="username">
                        <p class="help-block">choose a cool username to identify your cheat sheets</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                        <input type="password" class="input-xlarge" id="password">
                        <p class="help-block">put your password, dont put it in a cheat sheet!</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="email">Email</label>
                    <div class="controls">
                        <input type="email" class="input-xlarge" id="email">
                        <p class="help-block">Put your email, we use only in case you need to recover your password</p>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Register</button>
                    <button type="reset" class="btn">Cancel</button>
                </div>
            </fieldset>
        </form>
    </div>

{% endblock %}